@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700);

#menu-0 .mbr-brand__name {
  font-size: 16px;
}
#menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #ffffff;
}
#menu-0 .mbr-navbar__section {
  background: #ffffff;
}
#menu-0 .mbr-navbar__items a {
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
}
#menu-0 .mbr-brand__name a {
  font-size: 24px;
}
#content5-7 .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
}
#content5-7 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-7 .mbr-article {
  color: #fff;
}
#slider-10 .btn {
  font-size: 46px;
}
#contacts1-12 P {
  text-align: left;
  font-size: 13px;
}
#features1-7 .mbr-section__col .mbr-header__text {
  text-align: center;
}

#menu-10 .mbr-brand__name {
  font-size: 16px;
}
#menu-10.mbr-navbar--stuck .mbr-navbar__section {
  background: #ffffff;
}
#menu-10 .mbr-navbar__section {
  background: #ffffff;
}
#menu-10 .mbr-navbar__items a {
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
}
#menu-10 .mbr-brand__name a {
  font-size: 24px;
}
#content5-12 .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
}
#content5-12 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-12 .mbr-article {
  color: #fff;
}
#slider-13 .btn {
  font-size: 46px;
}
#contacts1-15 P {
  text-align: left;
  font-size: 13px;
}
#features1-16 .mbr-section__col .mbr-header__text {
  text-align: center;
}

#menu-45 .mbr-brand__name {
  font-size: 16px;
}
#menu-45.mbr-navbar--stuck .mbr-navbar__section {
  background: #ffffff;
}
#menu-45 .mbr-navbar__section {
  background: #ffffff;
}
#menu-45 .mbr-navbar__items a {
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
}
#menu-45 .mbr-brand__name a {
  font-size: 24px;
}

#menu-55 .mbr-brand__name {
  font-size: 16px;
}
#menu-55.mbr-navbar--stuck .mbr-navbar__section {
  background: #ffffff;
}
#menu-55 .mbr-navbar__section {
  background: #ffffff;
}
#menu-55 .mbr-navbar__items a {
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
}
#menu-55 .mbr-brand__name a {
  font-size: 24px;
}

#menu-58 .mbr-brand__name {
  font-size: 16px;
}
#menu-58.mbr-navbar--stuck .mbr-navbar__section {
  background: #ffffff;
}
#menu-58 .mbr-navbar__section {
  background: #ffffff;
}
#menu-58 .mbr-navbar__items a {
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
}
#menu-58 .mbr-brand__name a {
  font-size: 24px;
}
